node_modules/

dist/
dist-electron/
release/
out/
build/

.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*

.env
.env.local

.cache/
.tmp/
temp/

.vscode/
.idea/
*.sublime-workspace