@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 0.85em;
    height: 0.85em;
}

*::-webkit-scrollbar-thumb {
    background: #DEDFE4;
    border-radius: 0.5em;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}